nav ul {
  display: flex;
  list-style-type: none;
}
nav ul li {
  cursor: pointer;
}
li.active {
  border-bottom: 2px solid blue;
}
.section {
  display: none;
}

.section.active {
  display: block;
}